// 主细表主表区域
@import '../theme/theme.scss';
.oui-area-main-common-edit{
    padding: 15px 15px;
    
    .oui-g-3{
        padding: 0!important;
    }
    .oui-g-4{
        padding: 0!important;
    }
    .oui-g-8{
        padding: 0!important;
    }
}