$font-size-profile-context-menu:0;	//侧写上下文菜单的字体大小
$font-size-menu-main-l1:0;	//主菜单字大小l1
$font-size-menu-main-l2:0;	//主菜单字大小l2
$font-size-menu-main-l3:0;	//主菜单字大小l3
$font-size-menu-main-l4:0;	//主菜单字大小l4
$font-size-toolbar-main-l1:0;	//主工具栏字大小l1
$font-size-toolbar-main-l2:0;	//主工具栏字大小l2
$font-size-toolbar-main-l3:0;	//主工具栏字大小l3
$bg-color-index-0:rgb(40, 81, 192);	//全局背景色/最底层背景色
$bg-color-toolbar-main:0;	//主工具栏背景色
$bg-color-toolbar-sub:0;	//子工具栏背景色
$tint-color:#fff;	//全局前景色
$tint-color-boolbar-main:0;	//主工具栏前景色
$tint-color-boolbar-sub:0;	//主工具栏前景色
$width-between-area-row:0;	//区块之间的间距
$width-in-area-row:0;  //区块内行间距
$icon-collapse-between-area:0;	//区块间折叠的icon
$icon-expand-between-area:0;	//区块间展开的icon

$modal-color:#000;  //弹出框中的前景色